.app {
    position: relative;
    min-height: 100vh; /* Full viewport height for content */
    padding: 20px; /* Optional padding for content */
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Ensure content is above the background */
  }
  
  body::before {
    content: "";
    background-image: url('/background.jpeg'); /* Path to the image in the public folder */
    background-size: cover; /* Makes the image cover the entire viewport */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
    opacity: 0.5; /* Adjust the opacity level */
    position: fixed; /* Fixes the image position relative to the viewport */
    top: 0;
    left: 0;
    width: 100%; /* Cover full width */
    height: 100%; /* Cover full height */
    z-index: -1; /* Ensure the background stays behind the content */
  }